.menu {
    height: 100%; /* 100% Full-height */
    width: 60px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    color: black;
}
.menu a {
  height: 100px;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: grey;
}
.menu a:hover {
  color: lightgrey;
}
